<div class="container">
  <img src="/assets/immagini/My project-1 (2).png" width="200" height="200" />

  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <h2 class="hero-banner_title" aria-hidden="true">Sono Roman, un Web Developer ma non solo.</h2>
      <div class="overlay"></div>
      <p class="text-center lead">
        La mia formazione accademica in Scienze e Tecnologie della Comunicazione
        presso l'Università di Ferrara mi ha fornito una solida base di
        conoscenze nel campo della tecnologia e dei social media. Ho
        approfondito gli studi nel settore attraverso progetti di ricerca e una
        tesi incentrata sull'educational robotics. Questo mi ha permesso di
        esplorare le potenzialità delle tecnologie innovative nell'ambito
        dell'apprendimento.<br /><br />
        Sono un esperto di JavaScript, con competenze sia nel linguaggio di
        programmazione che nei framework correlati come Angular e TypeScript.
        Queste competenze mi consentono di creare applicazioni web interattive e
        dinamiche, offrendo un'esperienza utente coinvolgente e intuitiva. La
        mia conoscenza di strumenti come PowerBI mi permette di analizzare e
        visualizzare dati in modo efficace, offrendo soluzioni basate sui dati
        per prendere decisioni informate e migliorare le performance dei
        progetti.<br /><br />
        Inoltre, sono un'appassionato di continuo apprendimento e mi tengo
        costantemente aggiornato sulle ultime tendenze e tecnologie nel campo
        dello sviluppo web. Sono sempre alla ricerca di nuove sfide e
        opportunità per mettere in pratica le mie competenze e migliorare le mie
        abilità. Sono motivato dalla sfida di creare soluzioni tecniche
        innovative e funzionali che soddisfino le esigenze degli utenti e
        portino valore ai progetti su cui lavoro. Sono un team player
        entusiasta, ma anche in grado di lavorare autonomamente, fornendo
        risultati di alta qualità in modo tempestivo.<br /><br />
        In sintesi, come sviluppatore web con competenze approfondite in HTML,
        CSS, JavaScript, Angular e WordPress, sono pronto ad affrontare nuove
        sfide nel mondo dello sviluppo web e contribuire al successo dei
        progetti in cui mi impegno.
      </p>
    </div>
    <hr />
  </div>
</div>

