<hr>
<hr>

<section class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="contact-heading">Contatti</h2>
      <div class="contact-info">
        <div class="contact-item">
          <img src="/assets/immagini/icona-1.png" />
          <p>+39 3459722683</p>
        </div>

        <div class="contact-item">
          <img src="/assets/immagini/email.png" />
          <p>sajinroman@gmail.com</p>
        </div>

        <div class="contact-item">
          <img src="/assets/immagini/contacts.gif" />
          <p>Viale Aurelio Ballotta 44, Gavello (Rovigo), Italia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <h2 class="contact-heading">Social Media</h2>
      <div class="social-media">
        <p>
          <img src="/assets/immagini/linkedin.png" />
          <a href="https://www.linkedin.com/in/96sr/">https://www.linkedin.com/in/96sr/</a>
        </p>
      </div>

      <div class="social-media">
        <p>
          <img src="/assets/immagini/instagram.png" />
          <a href="https://www.instagram.com/roman__sajin/">https://www.instagram.com/roman__sajin/</a>
        </p>
      </div>
      <div class="social-media">
        <p>
          <img src="/assets/immagini/twitter.gif" />
          <a href="https://twitter.com/roman29742740">https://twitter.com/roman29742740</a>
        </p>
      </div>
      <div class="social-media">
        <p>
          <img src="/assets/immagini/github.gif" />
          <a href="https://github.com/RomanSajin">https://github.com/RomanSajin</a>
        </p>
      </div>
    </div>
  </div>
</section>

<hr>
<hr>
