<section class="container">
  <div class="row">
    <div class="col-lg-6">
      <p>I miei Progetti</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="portfolio-category apple-style">
        <img src="/assets/immagini/angular.png" />
        <h3>Angular</h3>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="portfolio-category apple-style">
        <img src="/assets/immagini/powerBi.png" />
        <h3>Power BI</h3>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="portfolio-category apple-style">
        <img src="/assets/immagini/blender.png" />
        <h3>Blender</h3>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="portfolio-category apple-style">
        <img src="/assets/immagini/social-media.png" />
        <h3>Social Media Manager</h3>
      </div>
    </div>
  </div>
</section>
